html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #34495e;
	/*#ff6f22*/
}

header {
	text-align: center;
	color: white;
	background-color: #607D8B;
}

header img {
	margin-top: 20px;
}

.triangle,
.triangle2 {
	height: 0;
	width: 0;
	margin: auto;
	border-top: 30px solid #607D8B;
	border-bottom: 30px solid transparent;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}

.triangle2 {
	z-index: 1;
	margin-left: calc(50% - 30px);
	position: absolute;
	border-top: 30px solid #34495e;
	margin-top: -5px;
}

.video {
	text-align: center;
	color: white;
	background-color: #607D8B;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-top: -3px;
}

iframe {
	width: 560px;
	height: 315px;
}

header span {
	float: left;
	font-size: 80px;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: -70px;
	display: none;
}
.sidenav a:first-child{
	display: none;
}

.sidenav a{
	text-decoration: none;
	color: white;
	
}

.sidenav{
	display: inline-block;
	margin-top: -70px;
	margin-bottom: 20px;
	padding-left: 50px;
	text-align: justify;
    min-width: calc(100% - 50px);
}
.sidenav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

@media only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
	body {
		font-size: 25px;
	}
	header img {
		margin-left: auto;
	}
	header span{
		display: block;
	}
	iframe {
		width: 900px;
		height: calc(900px * 0.5625);
	}
	.triangle,
	.triangle2 {
		margin-top: -2px;
		z-index: 0;
		display: none;
	}
	.triangle {
		position: relative;
	}
	.sidenav {
		margin: 0;
		padding: 50px 0 0 0;
		height: 100%;
		min-width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #34495e;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		text-align: center;
		display: none;
	}
	.sidenav a:first-child{
		display: block;
		font-size: 100px;
		margin-top: -40px;
	}
	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		color: white;
		font-size: 100px;
		display: block;
		transition: 0.3s;
	}
	.sidenav a:hover {
		color: #f1f1f1;
	}
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
}


/**************FOR MAKING INNER ROUNDED CORNER

.test{
	background-color: black;
	color: white;
	text-align: center;
	margin: 100px;
	display: inline-block;
	position: relative;
	padding: 20px;
	border-radius: 45px;
}
.test::before{
	content: " ";
	background-color: white;
	border: 3px solid white;
	position: absolute;
	margin-left: -52px;
	margin-top: -20px;
	width: 105px;
	height: 91px;
	z-index: -1;
}

*****************************/